<div>
{{~#if_equals change "simple-empty"~}}{{~/if_equals~}}
{{~#if_equals change "simple-one-div"~}}<div></div>{{~/if_equals~}}
{{~#if_equals change "simple-one-div-class"~}}<div class="test"></div>{{~/if_equals~}}
{{~#if_equals change "simple-one-div-class-id"~}}<div id="no" class="test"></div>{{~/if_equals~}}
{{~#if_equals change "simple-one-div-class-id-attribute"~}}<div id="no" class="test" something="nothing"></div>{{/if_equals~}}
{{~#if_equals change "simple-nestinnew"~}}<div id="new"><div id="no" class="test" something="nothing"></div></div>{{/if_equals~}}
{{~#if_equals change "simple-nestinnew-duplicate-spacing"~}}<div id="new">
<div id="no" class="test" something="nothing"></div>
<div id="no" class="test" something="nothing"></div>
</div>{{/if_equals~}}
{{~#if_equals change "complex-general-new-nesting"~}}<div id="new">
<div id="no" class="test" something="nothing">
	<div something="nothing">
		<a id="no" class="test" something="nothing"></a>
	</div>
</div>
<div id="no" class="test" something="nothing"></div>
</div>{{/if_equals~}}
{{~#if_equals change "complex-general-new-nesting-move"~}}<div id="new">
<div id="no" class="test" something="nothing">
	<div something="nothing">
		<a id="no" class="test" something="nothing"></a>
	</div>
	<div id="no" class="test" something="nothing"></div>
</div>

</div>{{/if_equals~}}
{{~#if_equals change "complex-flatten"~}}<div id="new">
<div id="no" class="test" something="nothing"></div>
<div id="no" class="test" something="nothing">
	<div something="nothing">
		
	</div>
	
</div>
<a id="no" class="test" something="nothing"></a>

</div>{{/if_equals~}}
{{~#if_equals change "complex-relocate"~}}
<a id="no" class="test" something="nothing"><div id="new">
<div id="no" class="test" something="nothing"></div>
<div id="no" class="test" something="nothing">
	<div something="nothing">
		
	</div>
	
</div>
</div></a>

{{/if_equals~}}
{{~#if_equals change "complex-change-classes"~}}
<a id="no" class="test test5" something="nothing"><div id="new">
<div id="no" class="test test2" something="nothing"></div>
<div id="no" class="test test3" something="nothing">
	<div something="nothing">
		
	</div>
	
</div>
</div></a>

{{/if_equals~}}
{{~#if_equals change "complex-narrative-1"}}
<div class="component narrative-component c-30   component-full nth-child-1 desktop"><div class="narrative-inner component-inner"><span class="aria-label prevent-default a11y-ignore" tabindex="-1" role="region" aria-hidden="true">This component displays an image gallery with accompanying text. Use the next and back navigation controls to work through the narrative.</span>
    	<div class="narrative-title component-title">
    	    <div role="heading" tabindex="-1" class="narrative-title-inner component-title-inner" aria-level="4" aria-hidden="true">
    	        Narrative
    	    </div>
    	</div>
    	<div class="narrative-body component-body">
    	    <div class="narrative-body-inner component-body-inner">
    	        The narrative component lets you scroll through a series of images each with some accompanying text.<br><br>This component is always spanned.
    	    </div>
    	</div>
    	<div class="narrative-instruction component-instruction">
    	    <div class="narrative-instruction-inner component-instruction-inner">
    	        Select the arrow to find out more.
    	    </div>
    	</div>
    <div class="narrative-widget component-widget">

        <div class="narrative-content">
            <div class="narrative-content-inner">
                <div class="narrative-content-item">
                    <div class="narrative-content-title">
                        <div class="narrative-content-title-inner accessible-text-block h5" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                            Narrative item 1 
                        </div>
                    </div>
                    <div class="narrative-content-body">
                        <div class="narrative-content-body-inner">
                            Narratives are particularly good for showing dialogue between two or more characters, with each step of the conversation being accompanied by an image. This photo story approach can be used to provide context for the learning about to follow, to illustrate real world application of the learning or to show the impact on people when the learning hasn’t been applied correctly.
                        </div> 
                    </div>
                </div>
                <div class="narrative-content-item narrative-hidden">
                    <div class="narrative-content-title">
                        <div class="narrative-content-title-inner accessible-text-block h5" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                            Narrative item 2 
                        </div>
                    </div>
                    <div class="narrative-content-body">
                        <div class="narrative-content-body-inner">
                            Narratives can also be used to present case studies, where the different displays are used to set the scene, show the key events and then the outcome.
                        </div> 
                    </div>
                </div>
                <div class="narrative-content-item narrative-hidden">
                    <div class="narrative-content-title">
                        <div class="narrative-content-title-inner accessible-text-block h5" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                            Narrative item 3 
                        </div>
                    </div>
                    <div class="narrative-content-body">
                        <div class="narrative-content-body-inner">
                            The narrative can also be used when you want to illustrate the constituent steps that make up a larger process.
                        </div> 
                    </div>
                </div>
                <div class="narrative-controls-container clearfix">
                    <div class="narrative-indicators">
                        <div class="narrative-progress component-item-color component-item-border"></div>
                        <div class="narrative-progress component-item-color component-item-border"></div>
                        <div class="narrative-progress component-item-color component-item-border"></div>
                    </div>
                    <button class="base narrative-controls narrative-control-left narrative-hidden" role="button" aria-label="Back">
                        <div class="icon icon-controls-left"></div>
                    </button>
                    <button class="base narrative-controls narrative-control-right" role="button" aria-label="Next">
                        <div class="icon icon-controls-right"></div>
                    </button>
                </div>
            </div>
        </div>

        <div class="narrative-strapline">
            <div class="narrative-strapline-header" style="width: 516px;">
                <div class="narrative-strapline-header-inner clearfix" style="margin-left: 0px; width: 1548px;">
                    <div></div>
                    <button role="button" class="base narrative-strapline-title" aria-label="Narrative item 1" tabindex="0" style="width: 516px;">
                        <div class="narrative-strapline-title-inner accessible-text-block h5">
                            Narrative item 1 
                        </div>
                        <div class="icon icon-plus"></div>
                        <div class="focus-rect"></div>
                    </button>
                    <button role="button" class="base narrative-strapline-title aria-hidden disabled" aria-label="Narrative item 2" tabindex="-1" style="width: 516px;" aria-hidden="true" disabled="disabled">
                        <div class="narrative-strapline-title-inner accessible-text-block h5">
                            Narrative item 2 
                        </div>
                        <div class="icon icon-plus"></div>
                        <div class="focus-rect"></div>
                    </button>
                    <button role="button" class="base narrative-strapline-title aria-hidden disabled" aria-label="Narrative item 3" tabindex="-1" style="width: 516px;" aria-hidden="true" disabled="disabled">
                        <div class="narrative-strapline-title-inner accessible-text-block h5">
                            Narrative item 3 
                        </div>
                        <div class="icon icon-plus"></div>
                        <div class="focus-rect"></div>
                    </button>
                </div>
            </div>
        </div>

        <div class="narrative-slide-container">

            <button class="base narrative-controls narrative-control-left narrative-hidden" role="button" aria-label="Back">
                <div class="icon icon-controls-left"></div>
            </button>
            <button class="base narrative-controls narrative-control-right" role="button" aria-label="Next">
                <div class="icon icon-controls-right"></div>
            </button>

            <div class="narrative-slider clearfix" style="margin-left: 0px; width: 1548px;">
                <div class="narrative-slider-graphic " style="width: 516px;">
                    <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                </div>
                <div class="narrative-slider-graphic " style="width: 516px;">
                    <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                </div>
                <div class="narrative-slider-graphic " style="width: 516px;">
                    <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                </div>
            </div>
            <div class="narrative-indicators">
                <div class="narrative-progress component-item-color component-item-border selected"></div>
                <div class="narrative-progress component-item-color component-item-border"></div>
                <div class="narrative-progress component-item-color component-item-border"></div>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>    
</div>
<div class="accessibility-state">
		<span tabindex="-1" role="region" class="aria-label a11y-ignore-focus prevent-default" id="buttons-aria-label-complete">Narrative Completed </span>
</div></div>
{{~/if_equals~}}
{{~#if_equals change "complex-narrative-2"~}}
<div class="component narrative-component c-30   component-full nth-child-1 desktop"><div class="narrative-inner component-inner"><span class="aria-label prevent-default a11y-ignore" tabindex="-1" role="region" aria-hidden="true">This component displays an image gallery with accompanying text. Use the next and back navigation controls to work through the narrative.</span>
    	<div class="narrative-title component-title">
    	    <div role="heading" tabindex="-1" class="narrative-title-inner component-title-inner" aria-level="4" aria-hidden="true">
    	        Narrative
    	    </div>
    	</div>
    	<div class="narrative-body component-body">
    	    <div class="narrative-body-inner component-body-inner">
    	        The narrative component lets you scroll through a series of images each with some accompanying text.<br><br>This component is always spanned.
    	    </div>
    	</div>
    	<div class="narrative-instruction component-instruction">
    	    <div class="narrative-instruction-inner component-instruction-inner">
    	        Select the arrow to find out more.
    	    </div>
    	</div>
    <div class="narrative-widget component-widget">

        <div class="narrative-content">
            <div class="narrative-content-inner">
                <div class="narrative-content-item narrative-hidden">
                    <div class="narrative-content-title">
                        <div class="narrative-content-title-inner accessible-text-block h5" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                            Narrative item 1 
                        </div>
                    </div>
                    <div class="narrative-content-body">
                        <div class="narrative-content-body-inner">
                            Narratives are particularly good for showing dialogue between two or more characters, with each step of the conversation being accompanied by an image. This photo story approach can be used to provide context for the learning about to follow, to illustrate real world application of the learning or to show the impact on people when the learning hasn’t been applied correctly.
                        </div> 
                    </div>
                </div>
                <div class="narrative-content-item">
                    <div class="narrative-content-title">
                        <div class="narrative-content-title-inner accessible-text-block h5" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                            Narrative item 2 
                        </div>
                    </div>
                    <div class="narrative-content-body">
                        <div class="narrative-content-body-inner">
                            Narratives can also be used to present case studies, where the different displays are used to set the scene, show the key events and then the outcome.
                        </div> 
                    </div>
                </div>
                <div class="narrative-content-item narrative-hidden">
                    <div class="narrative-content-title">
                        <div class="narrative-content-title-inner accessible-text-block h5" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                            Narrative item 3 
                        </div>
                    </div>
                    <div class="narrative-content-body">
                        <div class="narrative-content-body-inner">
                            The narrative can also be used when you want to illustrate the constituent steps that make up a larger process.
                        </div> 
                    </div>
                </div>
                <div class="narrative-controls-container clearfix">
                    <div class="narrative-indicators">
                        <div class="narrative-progress component-item-color component-item-border"></div>
                        <div class="narrative-progress component-item-color component-item-border"></div>
                        <div class="narrative-progress component-item-color component-item-border"></div>
                    </div>
                    <button class="base narrative-controls narrative-control-left" role="button" aria-label="Back">
                        <div class="icon icon-controls-left"></div>
                    </button>
                    <button class="base narrative-controls narrative-control-right" role="button" aria-label="Next">
                        <div class="icon icon-controls-right"></div>
                    </button>
                </div>
            </div>
        </div>

        <div class="narrative-strapline">
            <div class="narrative-strapline-header" style="width: 516px;">
                <div class="narrative-strapline-header-inner clearfix" style="margin-left: -516px; width: 1548px;">
                    <div></div>
                    <button role="button" class="base narrative-strapline-title aria-hidden disabled" aria-label="Narrative item 1" tabindex="-1" style="width: 516px;" aria-hidden="true" disabled="disabled">
                        <div class="narrative-strapline-title-inner accessible-text-block h5">
                            Narrative item 1 
                        </div>
                        <div class="icon icon-plus"></div>
                        <div class="focus-rect"></div>
                    </button>
                    <button role="button" class="base narrative-strapline-title" aria-label="Narrative item 2" tabindex="0" style="width: 516px;">
                        <div class="narrative-strapline-title-inner accessible-text-block h5">
                            Narrative item 2 
                        </div>
                        <div class="icon icon-plus"></div>
                        <div class="focus-rect"></div>
                    </button>
                    <button role="button" class="base narrative-strapline-title aria-hidden disabled" aria-label="Narrative item 3" tabindex="-1" aria-hidden="true" disabled="disabled" style="width: 516px;">
                        <div class="narrative-strapline-title-inner accessible-text-block h5">
                            Narrative item 3 
                        </div>
                        <div class="icon icon-plus"></div>
                        <div class="focus-rect"></div>
                    </button>
                </div>
            </div>
        </div>

        <div class="narrative-slide-container">

            <button class="base narrative-controls narrative-control-left" role="button" aria-label="Back">
                <div class="icon icon-controls-left"></div>
            </button>
            <button class="base narrative-controls narrative-control-right" role="button" aria-label="Next">
                <div class="icon icon-controls-right"></div>
            </button>

            <div class="narrative-slider clearfix" style="margin-left: -516px; width: 1548px;">
                <div class="narrative-slider-graphic " style="width: 516px;">
                    <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                </div>
                <div class="narrative-slider-graphic " style="width: 516px;">
                    <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                </div>
                <div class="narrative-slider-graphic " style="width: 516px;">
                    <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                </div>
            </div>
            <div class="narrative-indicators">
                <div class="narrative-progress component-item-color component-item-border"></div>
                <div class="narrative-progress component-item-color component-item-border selected"></div>
                <div class="narrative-progress component-item-color component-item-border"></div>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>    
</div>
<div class="accessibility-state">
		<span tabindex="-1" role="region" class="aria-label a11y-ignore-focus prevent-default" id="buttons-aria-label-incomplete" aria-hidden="true">Narrative Incomplete</span>
</div></div>
{{/if_equals~}}
{{~#if_equals change "complex-narrative-3"~}}
<div class="component narrative-component c-30   component-full nth-child-1 desktop"><div class="narrative-inner component-inner"><span class="aria-label prevent-default a11y-ignore" tabindex="-1" role="region" aria-hidden="true">This component displays an image gallery with accompanying text. Use the next and back navigation controls to work through the narrative.</span>
    	<div class="narrative-title component-title">
    	    <div role="heading" tabindex="-1" class="narrative-title-inner component-title-inner" aria-level="4" aria-hidden="true">
    	        Narrative
    	    </div>
    	</div>
    	<div class="narrative-body component-body">
    	    <div class="narrative-body-inner component-body-inner">
    	        The narrative component lets you scroll through a series of images each with some accompanying text.<br><br>This component is always spanned.
    	    </div>
    	</div>
    	<div class="narrative-instruction component-instruction">
    	    <div class="narrative-instruction-inner component-instruction-inner">
    	        Select the arrow to find out more.
    	    </div>
    	</div>
    <div class="narrative-widget component-widget">

        <div class="narrative-content">
            <div class="narrative-content-inner">
                <div class="narrative-content-item narrative-hidden">
                    <div class="narrative-content-title">
                        <div class="narrative-content-title-inner accessible-text-block h5" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                            Narrative item 1 
                        </div>
                    </div>
                    <div class="narrative-content-body">
                        <div class="narrative-content-body-inner">
                            Narratives are particularly good for showing dialogue between two or more characters, with each step of the conversation being accompanied by an image. This photo story approach can be used to provide context for the learning about to follow, to illustrate real world application of the learning or to show the impact on people when the learning hasn’t been applied correctly.
                        </div> 
                    </div>
                </div>
                <div class="narrative-content-item narrative-hidden">
                    <div class="narrative-content-title">
                        <div class="narrative-content-title-inner accessible-text-block h5" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                            Narrative item 2 
                        </div>
                    </div>
                    <div class="narrative-content-body">
                        <div class="narrative-content-body-inner">
                            Narratives can also be used to present case studies, where the different displays are used to set the scene, show the key events and then the outcome.
                        </div> 
                    </div>
                </div>
                <div class="narrative-content-item">
                    <div class="narrative-content-title">
                        <div class="narrative-content-title-inner accessible-text-block h5" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                            Narrative item 3 
                        </div>
                    </div>
                    <div class="narrative-content-body">
                        <div class="narrative-content-body-inner">
                            The narrative can also be used when you want to illustrate the constituent steps that make up a larger process.
                        </div> 
                    </div>
                </div>
                <div class="narrative-controls-container clearfix">
                    <div class="narrative-indicators">
                        <div class="narrative-progress component-item-color component-item-border"></div>
                        <div class="narrative-progress component-item-color component-item-border"></div>
                        <div class="narrative-progress component-item-color component-item-border"></div>
                    </div>
                    <button class="base narrative-controls narrative-control-left" role="button" aria-label="Back">
                        <div class="icon icon-controls-left"></div>
                    </button>
                    <button class="base narrative-controls narrative-control-right narrative-hidden" role="button" aria-label="Next">
                        <div class="icon icon-controls-right"></div>
                    </button>
                </div>
            </div>
        </div>

        <div class="narrative-strapline">
            <div class="narrative-strapline-header" style="width: 516px;">
                <div class="narrative-strapline-header-inner clearfix" style="margin-left: -1032px; width: 1548px;">
                    <div></div>
                    <button role="button" class="base narrative-strapline-title aria-hidden disabled" aria-label="Narrative item 1" tabindex="-1" style="width: 516px;" aria-hidden="true" disabled="disabled">
                        <div class="narrative-strapline-title-inner accessible-text-block h5">
                            Narrative item 1 
                        </div>
                        <div class="icon icon-plus"></div>
                        <div class="focus-rect"></div>
                    </button>
                    <button role="button" class="base narrative-strapline-title aria-hidden disabled" aria-label="Narrative item 2" tabindex="-1" style="width: 516px;" aria-hidden="true" disabled="disabled">
                        <div class="narrative-strapline-title-inner accessible-text-block h5">
                            Narrative item 2 
                        </div>
                        <div class="icon icon-plus"></div>
                        <div class="focus-rect"></div>
                    </button>
                    <button role="button" class="base narrative-strapline-title" aria-label="Narrative item 3" tabindex="0" style="width: 516px;">
                        <div class="narrative-strapline-title-inner accessible-text-block h5">
                            Narrative item 3 
                        </div>
                        <div class="icon icon-plus"></div>
                        <div class="focus-rect"></div>
                    </button>
                </div>
            </div>
        </div>

        <div class="narrative-slide-container">

            <button class="base narrative-controls narrative-control-left" role="button" aria-label="Back">
                <div class="icon icon-controls-left"></div>
            </button>
            <button class="base narrative-controls narrative-control-right narrative-hidden" role="button" aria-label="Next">
                <div class="icon icon-controls-right"></div>
            </button>

            <div class="narrative-slider clearfix" style="margin-left: -1032px; width: 1548px;">
                <div class="narrative-slider-graphic " style="width: 516px;">
                    <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                </div>
                <div class="narrative-slider-graphic " style="width: 516px;">
                    <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                </div>
                <div class="narrative-slider-graphic " style="width: 516px;">
                    <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                </div>
            </div>
            <div class="narrative-indicators">
                <div class="narrative-progress component-item-color component-item-border"></div>
                <div class="narrative-progress component-item-color component-item-border"></div>
                <div class="narrative-progress component-item-color component-item-border selected"></div>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>    
</div>
<div class="accessibility-state">
		<span tabindex="-1" role="region" class="aria-label a11y-ignore-focus prevent-default" id="buttons-aria-label-complete">Narrative Completed </span>
</div></div>
{{/if_equals~}}
{{~#if_equals change "complex-hotgraphic-1"}}
<div class="component hotgraphic-component c-35   component-full nth-child-1"><div class="hotgraphic-inner component-inner">
  	<div class="hotgraphic-title component-title">
  	    <div role="heading" tabindex="-1" class="hotgraphic-title-inner component-title-inner" aria-level="4" aria-hidden="true">
  	        Hot graphic
  	    </div>
  	</div>
  	<div class="hotgraphic-body component-body">
  	    <div class="hotgraphic-body-inner component-body-inner">
  	        You can add interactivity to an image by using the <strong>hot graphic</strong>. This component allows you to position icons over an image. When an icon is selected, content associated with its corresponding location is displayed in a window over the image. This component will fall back to a <strong>narrative</strong> when viewed on mobile.<br><br>This component is always spanned.
  	    </div>
  	</div>
  	<div class="hotgraphic-instruction component-instruction">
  	    <div class="hotgraphic-instruction-inner component-instruction-inner">
  	        Select the icons to find out more.
  	    </div>
  	</div>
  <div class="hotgraphic-widget component-widget pin">

    <div class="hotgraphic-graphic">

      <div class="hotgraphic-popup">

        <div class="hotgraphic-popup-toolbar component-item-color clearfix">
          <div class="hotgraphic-popup-nav component-item-color">
            <button class="base hotgraphic-popup-controls back" aria-label="Back" role="button">
              <div class="hotgraphic-popup-arrow-l component-item-text-color icon icon-controls-small-left"></div>
            </button>
            <div class="hotgraphic-popup-count component-item-text-color">
              <span class="current">1</span>/<span class="total">3</span>
            </div>
            <button class="base hotgraphic-popup-controls next" aria-label="Next" role="button">
              <div class="hotgraphic-popup-arrow-r component-item-text-color icon icon-controls-small-right"></div>
            </button>
          </div>
          <button class="base hotgraphic-popup-done" aria-label="Close popup" role="button">
            <div class="hotgraphic-popup-close component-item-text-color icon icon-cross"></div>
          </button>
        </div>

        <div class="hotgraphic-popup-inner clearfix">
          <div class="hotgraphic-item component-item item-0 ">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
              </div>
            </div>
            <div class="hotgraphic-item-content">
              <div class="hotgraphic-item-content-inner">
                <div class="hotgraphic-content-title accessible-text-block" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                  Hot graphic item 1
                </div>
                <div class="hotgraphic-content-body">
                  This is display text 1 which we have associated with the tablet image on the desktop.
                </div>
              </div>
            </div>
          </div>
          <div class="hotgraphic-item component-item item-1 ">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
              </div>
            </div>
            <div class="hotgraphic-item-content">
              <div class="hotgraphic-item-content-inner">
                <div class="hotgraphic-content-title accessible-text-block" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                  Hot graphic item 2
                </div>
                <div class="hotgraphic-content-body">
                  This is display text 2 which we have linked to the smartphone image.
                </div>
              </div>
            </div>
          </div>
          <div class="hotgraphic-item component-item item-2 ">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
              </div>
            </div>
            <div class="hotgraphic-item-content">
              <div class="hotgraphic-item-content-inner">
                <div class="hotgraphic-content-title accessible-text-block" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                  Hot graphic item 3
                </div>
                <div class="hotgraphic-content-body">
                  This is display text 3 which we’ve located over the laptop so you would expect the content to be about PCs.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <img src="course/en/images/full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
          <button class="base hotgraphic-graphic-pin component-item-text-color item-0 " data-id="item-0" style="top:42%; left:8.5%;" role="button" aria-label="Item 1. Hot graphic item 1.">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-0"></div>
          </button>
          <button class="base hotgraphic-graphic-pin component-item-text-color item-1 " data-id="item-1" style="top:62%; left:26.5%;" role="button" aria-label="Item 2. Hot graphic item 2.">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-1"></div>
          </button>
          <button class="base hotgraphic-graphic-pin component-item-text-color item-2 " data-id="item-2" style="top:62%; left:49%;" role="button" aria-label="Item 3. Hot graphic item 3.">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-2"></div>
          </button>
    </div>
  </div>
</div>
<div class="accessibility-state">
		<span tabindex="-1" role="region" class="aria-label a11y-ignore-focus prevent-default" id="buttons-aria-label-incomplete" aria-hidden="true">Hot graphic Incomplete</span>
</div></div>
{{~/if_equals~}}
{{~#if_equals change "complex-hotgraphic-2"}}
<div class="component hotgraphic-component c-35   component-full nth-child-1"><div class="hotgraphic-inner component-inner">
  	<div class="hotgraphic-title component-title">
  	    <div role="heading" tabindex="-1" class="hotgraphic-title-inner component-title-inner aria-hidden" aria-level="4" aria-hidden="true">
  	        Hot graphic
  	    </div>
  	</div>
  	<div class="hotgraphic-body component-body">
  	    <div class="hotgraphic-body-inner component-body-inner">
  	        You can add interactivity to an image by using the <strong>hot graphic</strong>. This component allows you to position icons over an image. When an icon is selected, content associated with its corresponding location is displayed in a window over the image. This component will fall back to a <strong>narrative</strong> when viewed on mobile.<br><br>This component is always spanned.
  	    </div>
  	</div>
  	<div class="hotgraphic-instruction component-instruction">
  	    <div class="hotgraphic-instruction-inner component-instruction-inner">
  	        Select the icons to find out more.
  	    </div>
  	</div>
  <div class="hotgraphic-widget component-widget pin">

    <div class="hotgraphic-graphic">

      <div class="hotgraphic-popup item-0 " style="display: block;">

        <div class="hotgraphic-popup-toolbar component-item-color clearfix">
          <div class="hotgraphic-popup-nav component-item-color first">
            <button class="base hotgraphic-popup-controls back aria-hidden disabled" aria-label="Back" role="button" tabindex="-1" aria-hidden="true" disabled="disabled">
              <div class="hotgraphic-popup-arrow-l component-item-text-color icon icon-controls-small-left"></div>
            </button>
            <div class="hotgraphic-popup-count component-item-text-color">
              <span class="current">1</span>/<span class="total">3</span>
            </div>
            <button class="base hotgraphic-popup-controls next" aria-label="Next" role="button" tabindex="0">
              <div class="hotgraphic-popup-arrow-r component-item-text-color icon icon-controls-small-right"></div>
            </button>
          </div>
          <button class="base hotgraphic-popup-done" aria-label="Close popup" role="button" tabindex="0">
            <div class="hotgraphic-popup-close component-item-text-color icon icon-cross"></div>
          </button>
        </div>

        <div class="hotgraphic-popup-inner clearfix">
          <div class="hotgraphic-item component-item item-0 active" style="display: block;">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" class="" aria-hidden="true">
              </div>
            </div>
            <div class="hotgraphic-item-content">
              <div class="hotgraphic-item-content-inner">
                <div class="hotgraphic-content-title accessible-text-block" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                  Hot graphic item 1
                </div>
                <div class="hotgraphic-content-body">
                  This is display text 1 which we have associated with the tablet image on the desktop.
                </div>
              </div>
            </div>
          </div>
          <div class="hotgraphic-item component-item item-1" style="display: none;">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" class="" aria-hidden="true">
              </div>
            </div>
            <div class="hotgraphic-item-content">
              <div class="hotgraphic-item-content-inner">
                <div class="hotgraphic-content-title accessible-text-block" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                  Hot graphic item 2
                </div>
                <div class="hotgraphic-content-body">
                  This is display text 2 which we have linked to the smartphone image.
                </div>
              </div>
            </div>
          </div>
          <div class="hotgraphic-item component-item item-2" style="display: none;">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" class="" aria-hidden="true">
              </div>
            </div>
            <div class="hotgraphic-item-content">
              <div class="hotgraphic-item-content-inner">
                <div class="hotgraphic-content-title accessible-text-block" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                  Hot graphic item 3
                </div>
                <div class="hotgraphic-content-body">
                  This is display text 3 which we’ve located over the laptop so you would expect the content to be about PCs.
                </div>
              </div>
            </div>
          </div>
        <a id="a11y-focusguard" class="a11y-ignore a11y-ignore-focus" tabindex="0" role="button" aria-hidden="true">&nbsp;</a></div>
      </div>
        <img src="course/en/images/full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true" class="aria-hidden">
          <button class="base hotgraphic-graphic-pin component-item-text-color item-0  active visited aria-hidden" data-id="item-0" style="top:42%; left:8.5%;" role="button" aria-label="Item 1. Hot graphic item 1. Visited." tabindex="-1" aria-hidden="true">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-0 active"></div>
          </button>
          <button class="base hotgraphic-graphic-pin component-item-text-color item-1  aria-hidden" data-id="item-1" style="top:62%; left:26.5%;" role="button" aria-label="Item 2. Hot graphic item 2." tabindex="-1" aria-hidden="true">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-1"></div>
          </button>
          <button class="base hotgraphic-graphic-pin component-item-text-color item-2  aria-hidden" data-id="item-2" style="top:62%; left:49%;" role="button" aria-label="Item 3. Hot graphic item 3." tabindex="-1" aria-hidden="true">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-2"></div>
          </button>
    </div>
  </div>
</div>
<div class="accessibility-state">
		<span tabindex="-1" role="region" class="aria-label a11y-ignore-focus prevent-default aria-hidden" id="buttons-aria-label-incomplete" aria-hidden="true">Hot graphic Incomplete</span>
</div></div>
{{~/if_equals}}
{{~#if_equals change "complex-hotgraphic-3"}}
<div class="component hotgraphic-component c-35   component-full nth-child-1"><div class="hotgraphic-inner component-inner">
  	<div class="hotgraphic-title component-title">
  	    <div role="heading" tabindex="-1" class="hotgraphic-title-inner component-title-inner aria-hidden" aria-level="4" aria-hidden="true">
  	        Hot graphic
  	    </div>
  	</div>
  	<div class="hotgraphic-body component-body">
  	    <div class="hotgraphic-body-inner component-body-inner">
  	        You can add interactivity to an image by using the <strong>hot graphic</strong>. This component allows you to position icons over an image. When an icon is selected, content associated with its corresponding location is displayed in a window over the image. This component will fall back to a <strong>narrative</strong> when viewed on mobile.<br><br>This component is always spanned.
  	    </div>
  	</div>
  	<div class="hotgraphic-instruction component-instruction">
  	    <div class="hotgraphic-instruction-inner component-instruction-inner">
  	        Select the icons to find out more.
  	    </div>
  	</div>
  <div class="hotgraphic-widget component-widget pin">

    <div class="hotgraphic-graphic">

      <div class="hotgraphic-popup item-1 " style="display: block;">

        <div class="hotgraphic-popup-toolbar component-item-color clearfix">
          <div class="hotgraphic-popup-nav component-item-color">
            <button class="base hotgraphic-popup-controls back" aria-label="Back" role="button" tabindex="0">
              <div class="hotgraphic-popup-arrow-l component-item-text-color icon icon-controls-small-left"></div>
            </button>
            <div class="hotgraphic-popup-count component-item-text-color">
              <span class="current">2</span>/<span class="total">3</span>
            </div>
            <button class="base hotgraphic-popup-controls next" aria-label="Next" role="button" tabindex="0">
              <div class="hotgraphic-popup-arrow-r component-item-text-color icon icon-controls-small-right"></div>
            </button>
          </div>
          <button class="base hotgraphic-popup-done" aria-label="Close popup" role="button" tabindex="0">
            <div class="hotgraphic-popup-close component-item-text-color icon icon-cross"></div>
          </button>
        </div>

        <div class="hotgraphic-popup-inner clearfix">
          <div class="hotgraphic-item component-item item-0" style="display: none;">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" class="" aria-hidden="true">
              </div>
            </div>
            <div class="hotgraphic-item-content">
              <div class="hotgraphic-item-content-inner">
                <div class="hotgraphic-content-title accessible-text-block" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                  Hot graphic item 1
                </div>
                <div class="hotgraphic-content-body">
                  This is display text 1 which we have associated with the tablet image on the desktop.
                </div>
              </div>
            </div>
          </div>
          <div class="hotgraphic-item component-item item-1 active" style="display: block;">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" class="" aria-hidden="true">
              </div>
            </div>
            <div class="hotgraphic-item-content">
              <div class="hotgraphic-item-content-inner">
                <div class="hotgraphic-content-title accessible-text-block" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                  Hot graphic item 2
                </div>
                <div class="hotgraphic-content-body">
                  This is display text 2 which we have linked to the smartphone image.
                </div>
              </div>
            </div>
          </div>
          <div class="hotgraphic-item component-item item-2" style="display: none;">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" class="" aria-hidden="true">
              </div>
            </div>
            <div class="hotgraphic-item-content">
              <div class="hotgraphic-item-content-inner">
                <div class="hotgraphic-content-title accessible-text-block" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                  Hot graphic item 3
                </div>
                <div class="hotgraphic-content-body">
                  This is display text 3 which we’ve located over the laptop so you would expect the content to be about PCs.
                </div>
              </div>
            </div>
          </div>
        <a id="a11y-focusguard" class="a11y-ignore a11y-ignore-focus" tabindex="0" role="button" aria-hidden="true">&nbsp;</a></div>
      </div>
        <img src="course/en/images/full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true" class="aria-hidden">
          <button class="base hotgraphic-graphic-pin component-item-text-color item-0  active visited aria-hidden" data-id="item-0" style="top:42%; left:8.5%;" role="button" aria-label="Item 1. Hot graphic item 1. Visited." tabindex="-1" aria-hidden="true">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-0 active"></div>
          </button>
          <button class="base hotgraphic-graphic-pin component-item-text-color item-1  aria-hidden visited" data-id="item-1" style="top:62%; left:26.5%;" role="button" aria-label="Item 2. Hot graphic item 2. Visited." tabindex="-1" aria-hidden="true">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-1"></div>
          </button>
          <button class="base hotgraphic-graphic-pin component-item-text-color item-2  aria-hidden" data-id="item-2" style="top:62%; left:49%;" role="button" aria-label="Item 3. Hot graphic item 3." tabindex="-1" aria-hidden="true">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-2"></div>
          </button>
    </div>
  </div>
</div>
<div class="accessibility-state">
		<span tabindex="-1" role="region" class="aria-label a11y-ignore-focus prevent-default aria-hidden" id="buttons-aria-label-incomplete" aria-hidden="true">Hot graphic Incomplete</span>
</div></div>
{{~/if_equals}}
{{~#if_equals change "complex-hotgraphic-4"}}
<div class="component hotgraphic-component c-35   component-full nth-child-1"><div class="hotgraphic-inner component-inner">
  	<div class="hotgraphic-title component-title">
  	    <div role="heading" tabindex="-1" class="hotgraphic-title-inner component-title-inner aria-hidden" aria-level="4" aria-hidden="true">
  	        Hot graphic
  	    </div>
  	</div>
  	<div class="hotgraphic-body component-body">
  	    <div class="hotgraphic-body-inner component-body-inner">
  	        You can add interactivity to an image by using the <strong>hot graphic</strong>. This component allows you to position icons over an image. When an icon is selected, content associated with its corresponding location is displayed in a window over the image. This component will fall back to a <strong>narrative</strong> when viewed on mobile.<br><br>This component is always spanned.
  	    </div>
  	</div>
  	<div class="hotgraphic-instruction component-instruction">
  	    <div class="hotgraphic-instruction-inner component-instruction-inner">
  	        Select the icons to find out more.
  	    </div>
  	</div>
  <div class="hotgraphic-widget component-widget pin">

    <div class="hotgraphic-graphic">

      <div class="hotgraphic-popup item-2 " style="display: block;">

        <div class="hotgraphic-popup-toolbar component-item-color clearfix">
          <div class="hotgraphic-popup-nav component-item-color last">
            <button class="base hotgraphic-popup-controls back" aria-label="Back" role="button" tabindex="0">
              <div class="hotgraphic-popup-arrow-l component-item-text-color icon icon-controls-small-left"></div>
            </button>
            <div class="hotgraphic-popup-count component-item-text-color">
              <span class="current">3</span>/<span class="total">3</span>
            </div>
            <button class="base hotgraphic-popup-controls next aria-hidden disabled" aria-label="Next" role="button" tabindex="-1" aria-hidden="true" disabled="disabled">
              <div class="hotgraphic-popup-arrow-r component-item-text-color icon icon-controls-small-right"></div>
            </button>
          </div>
          <button class="base hotgraphic-popup-done" aria-label="Close popup" role="button" tabindex="0">
            <div class="hotgraphic-popup-close component-item-text-color icon icon-cross"></div>
          </button>
        </div>

        <div class="hotgraphic-popup-inner clearfix">
          <div class="hotgraphic-item component-item item-0" style="display: none;">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" class="" aria-hidden="true">
              </div>
            </div>
            <div class="hotgraphic-item-content">
              <div class="hotgraphic-item-content-inner">
                <div class="hotgraphic-content-title accessible-text-block" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                  Hot graphic item 1
                </div>
                <div class="hotgraphic-content-body">
                  This is display text 1 which we have associated with the tablet image on the desktop.
                </div>
              </div>
            </div>
          </div>
          <div class="hotgraphic-item component-item item-1" style="display: none;">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" class="" aria-hidden="true">
              </div>
            </div>
            <div class="hotgraphic-item-content">
              <div class="hotgraphic-item-content-inner">
                <div class="hotgraphic-content-title accessible-text-block" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                  Hot graphic item 2
                </div>
                <div class="hotgraphic-content-body">
                  This is display text 2 which we have linked to the smartphone image.
                </div>
              </div>
            </div>
          </div>
          <div class="hotgraphic-item component-item item-2 active" style="display: block;">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" class="" aria-hidden="true">
              </div>
            </div>
            <div class="hotgraphic-item-content">
              <div class="hotgraphic-item-content-inner">
                <div class="hotgraphic-content-title accessible-text-block" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                  Hot graphic item 3
                </div>
                <div class="hotgraphic-content-body">
                  This is display text 3 which we’ve located over the laptop so you would expect the content to be about PCs.
                </div>
              </div>
            </div>
          </div>
        <a id="a11y-focusguard" class="a11y-ignore a11y-ignore-focus" tabindex="0" role="button" aria-hidden="true">&nbsp;</a></div>
      </div>
        <img src="course/en/images/full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true" class="aria-hidden">
          <button class="base hotgraphic-graphic-pin component-item-text-color item-0  active visited aria-hidden" data-id="item-0" style="top:42%; left:8.5%;" role="button" aria-label="Item 1. Hot graphic item 1. Visited." tabindex="-1" aria-hidden="true">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-0 active"></div>
          </button>
          <button class="base hotgraphic-graphic-pin component-item-text-color item-1  aria-hidden visited" data-id="item-1" style="top:62%; left:26.5%;" role="button" aria-label="Item 2. Hot graphic item 2. Visited." tabindex="-1" aria-hidden="true">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-1"></div>
          </button>
          <button class="base hotgraphic-graphic-pin component-item-text-color item-2  aria-hidden visited" data-id="item-2" style="top:62%; left:49%;" role="button" aria-label="Item 3. Hot graphic item 3. Visited." tabindex="-1" aria-hidden="true">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-2"></div>
          </button>
    </div>
  </div>
</div>
<div class="accessibility-state">
		<span tabindex="-1" role="region" class="aria-label a11y-ignore-focus prevent-default" id="buttons-aria-label-complete">Hot graphic Completed </span>
</div></div>
{{~/if_equals}}
{{~#if_equals change "complex-hotgraphic-5"}}
<div class="component hotgraphic-component c-35   component-full nth-child-1"><div class="hotgraphic-inner component-inner">
  	<div class="hotgraphic-title component-title">
  	    <div role="heading" tabindex="-1" class="hotgraphic-title-inner component-title-inner aria-hidden" aria-level="4" aria-hidden="true">
  	        Hot graphic
  	    </div>
  	</div>
  	<div class="hotgraphic-body component-body">
  	    <div class="hotgraphic-body-inner component-body-inner">
  	        You can add interactivity to an image by using the <strong>hot graphic</strong>. This component allows you to position icons over an image. When an icon is selected, content associated with its corresponding location is displayed in a window over the image. This component will fall back to a <strong>narrative</strong> when viewed on mobile.<br><br>This component is always spanned.
  	    </div>
  	</div>
  	<div class="hotgraphic-instruction component-instruction">
  	    <div class="hotgraphic-instruction-inner component-instruction-inner">
  	        Select the icons to find out more.
  	    </div>
  	</div>
  <div class="hotgraphic-widget component-widget pin">

    <div class="hotgraphic-graphic">

      <div class="hotgraphic-popup item-2 " style="display: none;">

        <div class="hotgraphic-popup-toolbar component-item-color clearfix">
          <div class="hotgraphic-popup-nav component-item-color last">
            <button class="base hotgraphic-popup-controls back" aria-label="Back" role="button" tabindex="0">
              <div class="hotgraphic-popup-arrow-l component-item-text-color icon icon-controls-small-left"></div>
            </button>
            <div class="hotgraphic-popup-count component-item-text-color">
              <span class="current">3</span>/<span class="total">3</span>
            </div>
            <button class="base hotgraphic-popup-controls next disabled" aria-label="Next" role="button" tabindex="0" disabled="disabled">
              <div class="hotgraphic-popup-arrow-r component-item-text-color icon icon-controls-small-right"></div>
            </button>
          </div>
          <button class="base hotgraphic-popup-done" aria-label="Close popup" role="button" tabindex="0">
            <div class="hotgraphic-popup-close component-item-text-color icon icon-cross"></div>
          </button>
        </div>

        <div class="hotgraphic-popup-inner clearfix">
          <div class="hotgraphic-item component-item item-0" style="display: none;">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" class="aria-hidden" aria-hidden="true">
              </div>
            </div>
            <div class="hotgraphic-item-content">
              <div class="hotgraphic-item-content-inner">
                <div class="hotgraphic-content-title accessible-text-block aria-hidden" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                  Hot graphic item 1
                </div>
                <div class="hotgraphic-content-body">
                  This is display text 1 which we have associated with the tablet image on the desktop.
                </div>
              </div>
            </div>
          </div>
          <div class="hotgraphic-item component-item item-1" style="display: none;">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" class="aria-hidden" aria-hidden="true">
              </div>
            </div>
            <div class="hotgraphic-item-content">
              <div class="hotgraphic-item-content-inner">
                <div class="hotgraphic-content-title accessible-text-block aria-hidden" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                  Hot graphic item 2
                </div>
                <div class="hotgraphic-content-body">
                  This is display text 2 which we have linked to the smartphone image.
                </div>
              </div>
            </div>
          </div>
          <div class="hotgraphic-item component-item item-2 active" style="display: block;">
            <div class="hotgraphic-item-graphic">
              <div class="hotgraphic-item-graphic-inner">
                <img src="course/en/images/single_width_small.jpg" aria-label="Placeholder graphic." tabindex="-1" class="aria-hidden" aria-hidden="true">
              </div>
            </div>
            <div class="hotgraphic-item-content">
              <div class="hotgraphic-item-content-inner">
                <div class="hotgraphic-content-title accessible-text-block aria-hidden" role="heading" aria-level="5" tabindex="-1" aria-hidden="true">
                  Hot graphic item 3
                </div>
                <div class="hotgraphic-content-body">
                  This is display text 3 which we’ve located over the laptop so you would expect the content to be about PCs.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <img src="course/en/images/full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true" class="aria-hidden">
          <button class="base hotgraphic-graphic-pin component-item-text-color item-0  active visited" data-id="item-0" style="top:42%; left:8.5%;" role="button" aria-label="Item 1. Hot graphic item 1. Visited." tabindex="0">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-0 active"></div>
          </button>
          <button class="base hotgraphic-graphic-pin component-item-text-color item-1  visited" data-id="item-1" style="top:62%; left:26.5%;" role="button" aria-label="Item 2. Hot graphic item 2. Visited." tabindex="0">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-1"></div>
          </button>
          <button class="base hotgraphic-graphic-pin component-item-text-color item-2  visited" data-id="item-2" style="top:62%; left:49%;" role="button" aria-label="Item 3. Hot graphic item 3. Visited." tabindex="0">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-2"></div>
          </button>
    </div>
  </div>
</div>
<div class="accessibility-state">
		<span tabindex="-1" role="region" class="aria-label a11y-ignore-focus prevent-default" id="buttons-aria-label-complete" aria-hidden="true">Hot graphic Completed </span>
</div></div>
{{~/if_equals}}
{{~#if_equals change "complex-accordion-1"}}
<div class="component accordion-component c-45   component-full nth-child-1"><div class="accordion-inner component-inner"><span class="aria-label prevent-default a11y-ignore" tabindex="-1" role="region" aria-hidden="true">This component is an accordion comprised of collapsible content panels containing display text. Select the item titles to toggle the visibility of these content panels.</span>
    	<div class="accordion-title component-title">
    	    <div role="heading" tabindex="-1" class="accordion-title-inner component-title-inner" aria-level="4" aria-hidden="true">
    	        Accordion
    	    </div>
    	</div>
    	<div class="accordion-body component-body">
    	    <div class="accordion-body-inner component-body-inner">
    	        You can use the <strong>accordion</strong> component to present learners with a series of headings, which once selected, expand to reveal associated text. Select each of the headings below to find out more about how accordions can be used.<br><br>These components can be either single or spanned. If spanned they can also contain a graphic.
    	    </div>
    	</div>
    	<div class="accordion-instruction component-instruction">
    	    <div class="accordion-instruction-inner component-instruction-inner">
    	        Select the headings to find out more.
    	    </div>
    	</div>
    <div class="accordion-widget component-widget">
        <div class="accordion-item">
            <button role="button" class="base accordion-item-title " aria-expanded="false" aria-label="Lists">
              <div class="accordion-item-title-inner">
                <div class="accordion-item-title-icon icon icon-plus h5"></div>
                      Lists
              </div>
            </button>
            <div class="accordion-item-body">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        This is display text 1 and we’re using it to discuss lists.<br><br>If you need to present a list which can standalone as a piece of content, but which can also be explored in more detail, then accordions are a great choice.
                    </div>
                    <div class="accordion-item-graphic">
                        <img src="course/en/images/accordion_full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <button role="button" class="base accordion-item-title " aria-expanded="false" aria-label="Steps in a process">
              <div class="accordion-item-title-inner">
                <div class="accordion-item-title-icon icon icon-plus h5"></div>
                      Steps in a process
              </div>
            </button>
            <div class="accordion-item-body">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        This is display text 2 and now we’re discussing how accordions can be great at presenting a process.<br><br>The headings can be used to present the high level stages in the process which once selected, provide a more extensive explanation of what happens at that specific point.
                    </div>
                    <div class="accordion-item-graphic">
                        <img src="course/en/images/accordion_full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <button role="button" class="base accordion-item-title " aria-expanded="false" aria-label="Recaps">
              <div class="accordion-item-title-inner">
                <div class="accordion-item-title-icon icon icon-plus h5"></div>
                      Recaps
              </div>
            </button>
            <div class="accordion-item-body">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        This is display text 3 and we’re now talking about using accordions to provide the learner with a summary.<br><br>Each accordion item corresponds to a key piece of learning presented on the page. When this item is selected a short summary of the learning point is provided.
                    </div>
                    <div class="accordion-item-graphic">
                        <img src="course/en/images/accordion_full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accessibility-state">
		<span tabindex="-1" role="region" class="aria-label a11y-ignore-focus prevent-default" id="buttons-aria-label-incomplete" aria-hidden="true">Accordion Incomplete</span>
</div></div>
{{~/if_equals}}
{{~#if_equals change "complex-accordion-2"}}
<div class="component accordion-component c-45   component-full nth-child-1"><div class="accordion-inner component-inner"><span class="aria-label prevent-default a11y-ignore" tabindex="-1" role="region" aria-hidden="true">This component is an accordion comprised of collapsible content panels containing display text. Select the item titles to toggle the visibility of these content panels.</span>
    	<div class="accordion-title component-title">
    	    <div role="heading" tabindex="-1" class="accordion-title-inner component-title-inner" aria-level="4" aria-hidden="true">
    	        Accordion
    	    </div>
    	</div>
    	<div class="accordion-body component-body">
    	    <div class="accordion-body-inner component-body-inner">
    	        You can use the <strong>accordion</strong> component to present learners with a series of headings, which once selected, expand to reveal associated text. Select each of the headings below to find out more about how accordions can be used.<br><br>These components can be either single or spanned. If spanned they can also contain a graphic.
    	    </div>
    	</div>
    	<div class="accordion-instruction component-instruction">
    	    <div class="accordion-instruction-inner component-instruction-inner">
    	        Select the headings to find out more.
    	    </div>
    	</div>
    <div class="accordion-widget component-widget">
        <div class="accordion-item">
            <button role="button" class="base accordion-item-title selected visited" aria-expanded="true" aria-label="Lists">
              <div class="accordion-item-title-inner">
                <div class="accordion-item-title-icon icon h5 icon-minus"></div>
                      Lists
              </div>
            </button>
            <div class="accordion-item-body" style="display: block;">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        This is display text 1 and we’re using it to discuss lists.<br><br>If you need to present a list which can standalone as a piece of content, but which can also be explored in more detail, then accordions are a great choice.
                    </div>
                    <div class="accordion-item-graphic">
                        <img src="course/en/images/accordion_full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <button role="button" class="base accordion-item-title" aria-expanded="false" aria-label="Steps in a process">
              <div class="accordion-item-title-inner">
                <div class="accordion-item-title-icon icon icon-plus h5"></div>
                      Steps in a process
              </div>
            </button>
            <div class="accordion-item-body" style="">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        This is display text 2 and now we’re discussing how accordions can be great at presenting a process.<br><br>The headings can be used to present the high level stages in the process which once selected, provide a more extensive explanation of what happens at that specific point.
                    </div>
                    <div class="accordion-item-graphic">
                        <img src="course/en/images/accordion_full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <button role="button" class="base accordion-item-title" aria-expanded="false" aria-label="Recaps">
              <div class="accordion-item-title-inner">
                <div class="accordion-item-title-icon icon icon-plus h5"></div>
                      Recaps
              </div>
            </button>
            <div class="accordion-item-body" style="">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        This is display text 3 and we’re now talking about using accordions to provide the learner with a summary.<br><br>Each accordion item corresponds to a key piece of learning presented on the page. When this item is selected a short summary of the learning point is provided.
                    </div>
                    <div class="accordion-item-graphic">
                        <img src="course/en/images/accordion_full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accessibility-state">
		<span tabindex="-1" role="region" class="aria-label a11y-ignore-focus prevent-default" id="buttons-aria-label-incomplete" aria-hidden="true">Accordion Incomplete</span>
</div></div>
{{~/if_equals}}
{{~#if_equals change "complex-accordion-3"}}
<div class="component accordion-component c-45   component-full nth-child-1"><div class="accordion-inner component-inner"><span class="aria-label prevent-default a11y-ignore" tabindex="-1" role="region" aria-hidden="true">This component is an accordion comprised of collapsible content panels containing display text. Select the item titles to toggle the visibility of these content panels.</span>
    	<div class="accordion-title component-title">
    	    <div role="heading" tabindex="-1" class="accordion-title-inner component-title-inner" aria-level="4" aria-hidden="true">
    	        Accordion
    	    </div>
    	</div>
    	<div class="accordion-body component-body">
    	    <div class="accordion-body-inner component-body-inner">
    	        You can use the <strong>accordion</strong> component to present learners with a series of headings, which once selected, expand to reveal associated text. Select each of the headings below to find out more about how accordions can be used.<br><br>These components can be either single or spanned. If spanned they can also contain a graphic.
    	    </div>
    	</div>
    	<div class="accordion-instruction component-instruction">
    	    <div class="accordion-instruction-inner component-instruction-inner">
    	        Select the headings to find out more.
    	    </div>
    	</div>
    <div class="accordion-widget component-widget">
        <div class="accordion-item">
            <button role="button" class="base accordion-item-title visited" aria-expanded="false" aria-label="Lists">
              <div class="accordion-item-title-inner">
                <div class="accordion-item-title-icon icon h5 icon-plus"></div>
                      Lists
              </div>
            </button>
            <div class="accordion-item-body" style="display: none;">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        This is display text 1 and we’re using it to discuss lists.<br><br>If you need to present a list which can standalone as a piece of content, but which can also be explored in more detail, then accordions are a great choice.
                    </div>
                    <div class="accordion-item-graphic">
                        <img src="course/en/images/accordion_full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <button role="button" class="base accordion-item-title selected visited" aria-expanded="true" aria-label="Steps in a process">
              <div class="accordion-item-title-inner">
                <div class="accordion-item-title-icon icon h5 icon-minus"></div>
                      Steps in a process
              </div>
            </button>
            <div class="accordion-item-body" style="display: block;">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        This is display text 2 and now we’re discussing how accordions can be great at presenting a process.<br><br>The headings can be used to present the high level stages in the process which once selected, provide a more extensive explanation of what happens at that specific point.
                    </div>
                    <div class="accordion-item-graphic">
                        <img src="course/en/images/accordion_full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <button role="button" class="base accordion-item-title" aria-expanded="false" aria-label="Recaps">
              <div class="accordion-item-title-inner">
                <div class="accordion-item-title-icon icon icon-plus h5"></div>
                      Recaps
              </div>
            </button>
            <div class="accordion-item-body" style="">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        This is display text 3 and we’re now talking about using accordions to provide the learner with a summary.<br><br>Each accordion item corresponds to a key piece of learning presented on the page. When this item is selected a short summary of the learning point is provided.
                    </div>
                    <div class="accordion-item-graphic">
                        <img src="course/en/images/accordion_full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accessibility-state">
		<span tabindex="-1" role="region" class="aria-label a11y-ignore-focus prevent-default" id="buttons-aria-label-incomplete" aria-hidden="true">Accordion Incomplete</span>
</div></div>
{{~/if_equals}}
{{~#if_equals change "complex-accordion-4"}}
<div class="component accordion-component c-45   component-full nth-child-1"><div class="accordion-inner component-inner"><span class="aria-label prevent-default a11y-ignore" tabindex="-1" role="region" aria-hidden="true">This component is an accordion comprised of collapsible content panels containing display text. Select the item titles to toggle the visibility of these content panels.</span>
    	<div class="accordion-title component-title">
    	    <div role="heading" tabindex="-1" class="accordion-title-inner component-title-inner" aria-level="4" aria-hidden="true">
    	        Accordion
    	    </div>
    	</div>
    	<div class="accordion-body component-body">
    	    <div class="accordion-body-inner component-body-inner">
    	        You can use the <strong>accordion</strong> component to present learners with a series of headings, which once selected, expand to reveal associated text. Select each of the headings below to find out more about how accordions can be used.<br><br>These components can be either single or spanned. If spanned they can also contain a graphic.
    	    </div>
    	</div>
    	<div class="accordion-instruction component-instruction">
    	    <div class="accordion-instruction-inner component-instruction-inner">
    	        Select the headings to find out more.
    	    </div>
    	</div>
    <div class="accordion-widget component-widget">
        <div class="accordion-item">
            <button role="button" class="base accordion-item-title visited" aria-expanded="false" aria-label="Lists">
              <div class="accordion-item-title-inner">
                <div class="accordion-item-title-icon icon h5 icon-plus"></div>
                      Lists
              </div>
            </button>
            <div class="accordion-item-body" style="display: none;">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        This is display text 1 and we’re using it to discuss lists.<br><br>If you need to present a list which can standalone as a piece of content, but which can also be explored in more detail, then accordions are a great choice.
                    </div>
                    <div class="accordion-item-graphic">
                        <img src="course/en/images/accordion_full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <button role="button" class="base accordion-item-title visited" aria-expanded="false" aria-label="Steps in a process">
              <div class="accordion-item-title-inner">
                <div class="accordion-item-title-icon icon h5 icon-plus"></div>
                      Steps in a process
              </div>
            </button>
            <div class="accordion-item-body" style="display: none;">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        This is display text 2 and now we’re discussing how accordions can be great at presenting a process.<br><br>The headings can be used to present the high level stages in the process which once selected, provide a more extensive explanation of what happens at that specific point.
                    </div>
                    <div class="accordion-item-graphic">
                        <img src="course/en/images/accordion_full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <button role="button" class="base accordion-item-title selected visited" aria-expanded="true" aria-label="Recaps">
              <div class="accordion-item-title-inner">
                <div class="accordion-item-title-icon icon h5 icon-minus"></div>
                      Recaps
              </div>
            </button>
            <div class="accordion-item-body" style="display: block;">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        This is display text 3 and we’re now talking about using accordions to provide the learner with a summary.<br><br>Each accordion item corresponds to a key piece of learning presented on the page. When this item is selected a short summary of the learning point is provided.
                    </div>
                    <div class="accordion-item-graphic">
                        <img src="course/en/images/accordion_full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accessibility-state">
		<span tabindex="-1" role="region" class="aria-label a11y-ignore-focus prevent-default" id="buttons-aria-label-complete">Accordion Completed </span>
</div></div>
{{~/if_equals}}
{{~#if_equals change "complex-accordion-5"}}
<div class="component accordion-component c-45   component-full nth-child-1"><div class="accordion-inner component-inner"><span class="aria-label prevent-default a11y-ignore" tabindex="-1" role="region" aria-hidden="true">This component is an accordion comprised of collapsible content panels containing display text. Select the item titles to toggle the visibility of these content panels.</span>
    	<div class="accordion-title component-title">
    	    <div role="heading" tabindex="-1" class="accordion-title-inner component-title-inner" aria-level="4" aria-hidden="true">
    	        Accordion
    	    </div>
    	</div>
    	<div class="accordion-body component-body">
    	    <div class="accordion-body-inner component-body-inner">
    	        You can use the <strong>accordion</strong> component to present learners with a series of headings, which once selected, expand to reveal associated text. Select each of the headings below to find out more about how accordions can be used.<br><br>These components can be either single or spanned. If spanned they can also contain a graphic.
    	    </div>
    	</div>
    	<div class="accordion-instruction component-instruction">
    	    <div class="accordion-instruction-inner component-instruction-inner">
    	        Select the headings to find out more.
    	    </div>
    	</div>
    <div class="accordion-widget component-widget">
        <div class="accordion-item">
            <button role="button" class="base accordion-item-title visited" aria-expanded="false" aria-label="Lists">
              <div class="accordion-item-title-inner">
                <div class="accordion-item-title-icon icon h5 icon-plus"></div>
                      Lists
              </div>
            </button>
            <div class="accordion-item-body" style="display: none;">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        This is display text 1 and we’re using it to discuss lists.<br><br>If you need to present a list which can standalone as a piece of content, but which can also be explored in more detail, then accordions are a great choice.
                    </div>
                    <div class="accordion-item-graphic">
                        <img src="course/en/images/accordion_full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <button role="button" class="base accordion-item-title visited" aria-expanded="false" aria-label="Steps in a process">
              <div class="accordion-item-title-inner">
                <div class="accordion-item-title-icon icon h5 icon-plus"></div>
                      Steps in a process
              </div>
            </button>
            <div class="accordion-item-body" style="display: none;">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        This is display text 2 and now we’re discussing how accordions can be great at presenting a process.<br><br>The headings can be used to present the high level stages in the process which once selected, provide a more extensive explanation of what happens at that specific point.
                    </div>
                    <div class="accordion-item-graphic">
                        <img src="course/en/images/accordion_full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <button role="button" class="base accordion-item-title visited" aria-expanded="false" aria-label="Recaps">
              <div class="accordion-item-title-inner">
                <div class="accordion-item-title-icon icon h5 icon-plus"></div>
                      Recaps
              </div>
            </button>
            <div class="accordion-item-body" style="display: none;">
                <div class="accordion-item-body-inner">
                    <div class="accordion-item-text">
                        This is display text 3 and we’re now talking about using accordions to provide the learner with a summary.<br><br>Each accordion item corresponds to a key piece of learning presented on the page. When this item is selected a short summary of the learning point is provided.
                    </div>
                    <div class="accordion-item-graphic">
                        <img src="course/en/images/accordion_full_width.jpg" aria-label="Placeholder graphic." tabindex="-1" aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accessibility-state">
		<span tabindex="-1" role="region" class="aria-label a11y-ignore-focus prevent-default" id="buttons-aria-label-complete">Accordion Completed </span>
</div></div>
{{~/if_equals}}
{{~#if_equals change "example"}}

{{~/if_equals}}
</div>